/* estilos al body*/
body{
    background-color: rgb(0 0 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0%;
    
}

/* estilos al los elementos del menu Navbar*/
.nav-link
{
    width: 235px;   
    text-align: center; 
    position:sticky; 
    transition: .3s; 
    color:magenta;
}

.nav-link::before
{
    content: ''; 
    position: absolute;
    top: 0; 
    bottom: 0;  
    background-color: yellow; 
    z-index: -1;
    transition: .3s;
}

.nav-link:hover::before
{
    left: 0;
    width: 100%;
    transition: width .3s;  
    border-radius: 3px; 
}
a.navbar-brand{
    padding-left: 100px; 
    padding-right: 100px; 
}
a.navbar-brand img{
    padding-left: px;  
    width:50%; 
    height:50%; 
}

/* estilos del carousel*/
#carousel {
    position: relative;
  }
  #carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
  }

  /*inicio.html*/
#miCarrusel
{
  opacity:70%;
}
.carousel-item img {
  max-height: 800px; 
  width: 500px; 
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); 
  color: #fff; 
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #000; 
  border: none; 
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: #fff; 
}
.carousel-item img {
  border: 4px solid #ccc;
}

/*footer*/
.mkdf-page-footer .mkdf-footer-top-holder {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background-color: #242626;
    box-sizing: border-box;
  }
  
  .mkdf-page-footer .mkdf-footer-top-holder {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    background-color: #242626;
    box-sizing: border-box;
  }
  
  element.style {
    color: #fff;
    font-size: 10px;
    margin: 23px 10px 0px 0px;
  }
  
  .mkdf-page-footer .mkdf-icon-widget-holder, .mkdf-top-bar .mkdf-icon-widget-holder {
    color: #fff;
    background-color: #3a3c3c;
    width: 28px;
    height: 28px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    transition: background-color .3s;
  }

